body {
    background: url('https://wx.mlcdn.com.br/ponzi/production/portaldalu/83144_00.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;

}

.product-card {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card-body {
    text-align: center;
}

.btn-primary,
.btn-success {
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.2s;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover,
.btn-success:hover {
    background-color: #0056b3;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header,
.modal-footer {
    border: none;
}

#checkoutModal .form-group {
    margin-bottom: 20px;
}

#login-icon {
    position: fixed;
    top: 18px;
    right: 250px;
    font-size: 24px;
    z-index: 9999;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: 3px solid transparent;
    transition: opacity 0.3s;
}

#login-icon:hover {
    background-color: #0056b3;
    border-color: white;
}

#login-text {
    position: absolute;
    top: 130%;
    right: -100px;
    transform: translateY(-50%);
    color: rgb(80, 97, 255);
    font-size: 14px;
    text-align: center;
    width: 250px;
    white-space: nowrap;
}


.hidden {
    opacity: 0;
}

#cart-button-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

#cart-button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50px;
}

#cart-button i {
    margin-right: 8px;
}