body{
    justify-content: center;
    display: flex;
    align-items: center;
}

.container{
    width: 200px;
    margin: 50px auto;
}

.teclas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

#inputA{
    width: 95%;
}